
body {
  font-family: 'Bungee', cursive;
}

             /************* Header styles *****************/

#name-logo {
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}
#menu {
  background: #333;
}

#menu ul {
  list-style-type: none;
  padding: 0;
}

#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
}

#menu a:hover {
  background: #555;
}



            /************* Profile_Image styles *****************/

#img_container {
  width: 80%;
  margin: 0px auto;
  margin-top: 40px;
}

#img_container img {
  width: 100%;
  border-radius: 70px;
}

         /************* Bio_Section styles *****************/

#bio-content {
  width: 80%;
  margin: 20px auto;
}

#bio-content h2{
  text-align: center;
  margin: 20px 0px;
}

#bio {
  line-height: 1.5em;
  word-spacing: 3.5px;
}



@media screen and (min-width: 768px) {
  #header {
    display: flex;
    justify-content: space-between;
  }
  #menu ul {
    display: flex;
  }
}
